@import url("https://fonts.googleapis.com/css2?family=Castoro&family=Padauk&display=swap" rel="stylesheet");

@import url("components/container.css");

@import url("components/avatar.css");

@import url("components/button.css");

@import url("components/banner.css");

@import url("components/card.css");


body  {
  font-family: 'Padauk', sans-serif;
  font-size: 18px;
  margin:0px;
  background-color: #A2B4C0;
  text-align: center;

}

h1, h2, h3 {
  font-family: 'Castoro', serif;
  font-weight: bold;
}

a {
  text-decoration: none;
}


